:root {
    --primary-color: #0F1E2E;
    --secondary-color: #F5F5F5;
    --accent1-color: #668D01;
    --accent2-color: #7EC8A7;
    --accent3-color: #F2A202;
    --max-width: 2000px;
}

.header-grid {
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    padding: 10px 20px;
    margin: 1rem auto;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
}

.header-grid img {
    margin: 0 10rem 0 10rem;
    width: auto;
    height: 100px; 
}

.pages {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
} 

.pages a {
	display: block;
	padding: 20px;
    color: var(--secondary-color);
    text-decoration: none;
}

.pages a:hover {
	color: var(--accent3-color);
    font-weight: bold;
    text-decoration: underline;
}

main {
    max-width: var(--max-width);
    padding: 0 20px;
}

body {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.hero {
    position: relative;
    text-align: center;
    color: var(--secondary-color);
    overflow: hidden;
    height: 400px;
}

.hero img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.hero h1 {
    position: absolute;
    top: 20px; 
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-weight: 380;
    font-size: xx-large;
    font-family: "Jost", sans-serif;
    color: var(--secondary-color);
    text-align: center;
    margin: 0; 
    box-sizing: border-box;
}

.hero .article {
    position: absolute;
    top: 220px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: var(--max-width);
    width: 90%; 
}

.hero .article img {
    float: right; 
    margin-left: 20px; 
    max-width: 200px; 
    height: auto;
    border: 2px solid var(--accent1-color);
}

.hero .article p {
    text-align: justify;
    color: var(--secondary-color);
    margin: 0; 
}

.history {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 10px; 
    margin: auto;
    text-align: center;
}

.history h2 {
    color: var(--accent3-color);
    margin-bottom: 10px;
}

.history .content{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    flex-flow: row nowrap;
    width: 100%;
}

.history p {
    padding: 10px;
    border: 2px dotted var(--accent1-color);
    max-width: 50%;
    flex: 1;
    text-align: justify;
    align-items: center;
}

.history img {
    max-height: 100%;
    width: auto; 
    object-fit: cover; 
}

h2 {
    text-align: center;
    color: var(--accent3-color);
}

.album .content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
    flex-flow: row nowrap;
    width: 100%;
}

.employees { /*contact*/
display: flex;
align-items: baseline;
justify-content: center;
gap: 5px;
flex-flow: row nowrap;
width: 100%;
}

h3{
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    outline: 2px solid var(--secondary-color);
    color: var(--accent3-color);
    padding: 0.5rem 1.5rem;
}

.employees figure img { /*contact*/
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.employees figcaption{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 2px;
    text-align: center;
}

.album h2 {
    color: var(--accent3-color);
    margin-bottom: 10px;
}

figcaption{
    display: block;
    unicode-bidi: isolate;
}

.album figcaption{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 2px;
    text-align: center;
}

.album figure {
    flex: 1 1 200px;
    max-width: 300px;
    box-sizing: border-box;
    margin: 0;
}


.album figure img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    padding: 10px 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
}

footer > p{
    flex: 1;              
    text-align: center; 
}

footer nav.sociallinks a {
    text-decoration: none;
}

footer nav.sociallinks img {
    height: 3rem;
    width: 3rem;
}

button {
    margin-top: 1rem;
    border-radius: 5px;
    border: 2px solid var(--accent1-color);
    padding: 0.50rem;
    font: .6em "Didact Gothic";
    font-size: 1.2rem;
    color: var(--secondary-color);
    cursor: pointer;
    background-color: var(--accent1-color);
    width: 50%;
    align-self: center;
}

button:hover{
    background-color: var(--primary-color);
    color: var(--accent3-color);
}

form{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.content-form {
    display: flex;
    flex-direction: column;
    
}

form img{
    width: auto;
    height: auto;
    margin-left: 20px;
}

textarea{
    width: 100%;
    min-height: 100px;
}

input[type="text"],
input[type="email"]
{
    width: 100%; 
    max-width: 26rem; 
    padding: 8px;
    margin-bottom: 5px; 
    border: 1px solid; 
    border-radius: 5px;
    align-items: end;
}

.contact h1 {
 text-align: center;
}

main > p{            
    text-align: center; 
}

.contact-information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contact-item img{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondary-color);
}

.contact-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

#Place {
    color: var(--accent3-color);
    font-weight: bold;
    font-size: larger;
}